* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;

    .collapseDiv {
        ul {
            margin: auto;
            justify-content: space-between;
            gap: 10px;
            font-size: 16px;
            font-weight: 600;

        }


    a:hover{
        color: #3DB554;
    }

   


    .btn {
        padding-top: 30px;

       
            padding: 5px 10px 5px 10px;
            border: none;
            border-radius: 30px;
            background-color: #3DB554;
            box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554;

            color: white;
            font-weight: 500;
            font-size: 13px;
       

        button:hover {
            box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554, 0 0 50px #3DB554;
            transition: 0.2s;
        }
    }
}
    }


#MeetingAndConference {
    width: 100%;
    height: 500px;
    background-image: url(/img/hero-bg.jpg);
    background-attachment: fixed;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    padding: 30px;

    .container {
        .meetingText {
            padding: 30px;
            color: white;

            h1 {
                font-size: 40px;
                padding-top: 10px;
                color: white;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
            h4{
                color: white;
            }

            p {
                font-size: 20px;
                padding-top: 10px;
                color: white;
            }

            .buttonDiv {
                padding-top: 30px;

                button {
                    padding: 15px 30px 15px 30px;
                    border: none;
                    border-radius: 30px;
                    background-color: #3DB554;
                    box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554;

                    color: white;
                    font-weight: 500;
                }

                button:hover {
                    box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554, 0 0 50px #3DB554;
                    transition: 0.2s;
                }
            }

            .divIcon {
                padding-top: 30px;
                margin-top: 30px;
                padding-left: 15px;
                display: flex;
                gap: 10px;
            }
        }

        .meetingImg {
            
            padding: 30px;
            img{
                max-width: 100%;
                transition: transform 0.9s ease;
            }
        }
    }

}


@media only screen and (max-width: 992px) {
    .row {
        .meetingImg{
img{
    visibility: hidden !important;
}
        }

    }
  }
  

#MakeYourWorkplace {
    width: 100%;

    .container {
        .row {
            .workplaceText {
                padding: 30px;
                text-align: center;

                h5 {
                    color: grey;
                    font-weight: 400;
                    padding-top: 10px;
                }

                h2 {
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    color: rgb(255, 136, 0);
                }
            }

            .workplaceImg {
                padding: 30px;

                img {
                   
                    max-width: 100%;
                    transition: transform 0.3s ease-in-out;
                }

                p {
                    text-align: center;
                    padding-top: 10px;
                }
            }

            .workplaceButton {
                text-align: center;
                padding-bottom: 30px;

                button {
                    align-items: center;
                    justify-content: center;
                    padding: 15px 30px 15px 30px;
                    border: none;
                    border-radius: 30px;
                    background-color: rgb(255, 136, 0);
                    box-shadow: 0 0 5px rgb(255, 136, 0), 0 0 25px rgb(255, 136, 0);
                    color: white;
                    font-weight: 500;

                }

                button:hover {
                    box-shadow: 0 0 5px rgb(255, 136, 0), 0 0 25px rgb(255, 136, 0), 0 0 50px rgb(255, 136, 0);
                    transition: 0.2s;
                }
            }
        }
    }
}



#BookYourMeeting {
    width: 100%;
    background-color: #F7F8F9;

    .container {
        .row {
            .meetingtext {
                padding: 30px;
                text-align: center;

                h2 {
                    padding-top: 30px;
                    color: rgb(255, 136, 0);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                h5 {
                    color: grey;
                    font-weight: 400;
                }
            }

            .meetingRow {
                text-align: center;

                h4 {
                    padding-top: 20px;
                    color: rgb(255, 136, 0);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                p {
                    padding-top: 10px;
                }

                img {
                    max-width: 40%;
                   
                    transition: transform 0.3s ease-in-out;
                }
            }

            .meetButton {
                text-align: center;
                padding-top: 30px;
                padding-bottom: 30px;

                button {
                    padding: 15px 30px 15px 30px;
                    border: none;
                    border-radius: 30px;
                    background-color: #3DB554;
                    box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554;

                    color: white;
                    font-weight: 500;
                }

                button:hover {
                    box-shadow: 0 0 5px #3DB554, 0 0 25px #3DB554, 0 0 50px #3DB554;
                    transition: 0.2s;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .row {
        .meetingRow{
h4{
    font-size: 20px !important;
}
        }

    }
  }


  @media only screen and (max-width: 600px) {
    .row {
        .meetingRow{
img{
    max-width: 80px !important;
}
        }

    }
  }


#tableSec {
    width: 100%;
    background-color: #F7F8F9;

    .container {
        .row {
            .tableSecImg {
                padding-top: 30px;

                img {
                    max-width: 100%;
                }
            }
        }
    }
}






#optimizeYourMeeting {
    width: 100%;
    background-color: #F7F8F9;
    padding-bottom: 30px;

    .container {
        .row {
            .optimizeText {
                text-align: center;
                padding: 30px;

                h2 {
                    padding-top: 20px;
                    color: rgb(255, 136, 0);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                h5 {
                    color: grey;
                    font-weight: 400;
                    padding-top: 10px;
                }
            }

            .optimizeRow {
                text-align: center;

                h4 {
                    color: #3DB554;
                    padding-bottom: 20px;
                }

                p {
                    color: rgb(102, 102, 102);
                }
            }

            .bonsaiImg {
                padding-top: 30px;

                img {
                    padding-top: 30px;
                    max-width: 100%;
                }
            }
        }
    }
}






#securityAndconnectivity {
    width: 100%;
    padding-top: 30px;
    background-color: #F6F7F8;

    .container {
        .row {
            .securityText {
                text-align: center;

                h2 {
                    padding-top: 20px;
                    color: rgb(255, 136, 0);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                h5 {
                    color: grey;
                    padding-top: 10px;
                    font-weight: 400;
                }
            }

            .securityImg {
                padding-top: 30px;
                padding-bottom: 30px;

                img {
                    max-width: 30%;
                }
            }


            .connectivityImg {
                img {
                    max-width: 100%;
                }
            }

            .yourData {
                padding-top: 30px;
                margin-top: 30px;

                h3 {
                    color: #3DB554;
                    padding-bottom: 15px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
            }

            h5 {
                color: grey;
                padding-bottom: 30px;
                font-weight: 300;
            }

            .dataDiv {
                padding-bottom: 20px;

            }

            span {
                font-size: 12px;
                color: rgb(117, 117, 117);
                font-weight: 700;
            }
        }

    }
}

@media only screen and (max-width: 900px) {
    .row {
        .connectivityImg{
img{
    max-width: 60% !important;
}
        }

    }
  }






#FlexibleIntegration {
    width: 100%;
    padding-top: 30px;
    

    .container {
        .row {
            .flexibleImg {
                position: relative;
                overflow: hidden;
                height: 400px; 
               
               img {
                    max-width: 100%;
                }
                
              
                
            }
               
            .flexibleText {

                h3 {
                    padding-top: 20px;
                    color: rgb(255, 136, 0);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }

                h4 {
                    color: grey;
                    padding-top: 10px;
                    font-weight: 300;
                }

                p {
                    padding-top: 30px;
                    color: grey;
                }

                span {
                    font-size: 12px;
                    color: rgb(117, 117, 117);
                    font-weight: 700;
                    padding-bottom: 20px;
                }

                .logoImg {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    display: flex;
                    gap: 25px;

                    img {
                        max-width: 20%;

                    }
                }
            }



        }

    }
}














#meetingApp {
    width: 100%;
    background-color: #F6F7F8;

    .container {
        .row {
            .appText {
                text-align: center;
                padding: 30px;

                h2 {
                    color: #3DB554;
                    padding-bottom: 10px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
            }

            .appImg {
                align-items: center;
                justify-content: center;
                display: flex;
                padding-bottom: 30px;

                img {
                    max-width: 100%;
                }

            }
        }
    }
}


#trustedByThousands {
    width: 100%;

    .container {
        .row {
            .trusted {
                padding-top: 30px;
                text-align: center;
                padding-bottom: 20px;

                h3 {
                    font-weight: 200;
                    padding-top: 20px;
                    color: rgb(255, 136, 0);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                }
            }



            .petrValenta {
                padding-bottom: 30px;
                text-align: center;

                .petrValentaImg {
                    padding: 20px;

                    img {
                        max-width: 30%;
                    }
                }

                p {
                    font-weight: 600;
                    margin-top: 5px;
                }

                span {
                    text-align: center;
                    color: grey;
                }

            }


            .IlpoLehtola {
                padding-bottom: 30px;
                text-align: center;

                .IlpoLehtolaImg {
                    padding: 20px;

                    img {
                        max-width: 30%;
                    }
                }

                p {
                    font-weight: 600;
                    margin-top: 5px;
                }

                span {
                    text-align: center;
                    color: grey;
                }

            }


            .ZsoltTompe {
                padding-bottom: 30px;
                text-align: center;

                .ZsoltTompeImg {
                    padding: 20px;

                    img {
                        max-width: 30%;
                    }
                }

                p {
                    font-weight: 600;
                    margin-top: 5px;
                }

                span {
                    text-align: center;
                    color: grey;
                }

            }



        }

    }
}



#AvatarSec {
    width: 100%;

    .container {
        .row {
            .avatarIcon {
                img {
                    max-width: 100%;
                    padding: 20px;
                }
            }
        }
    }
}


@media only screen and (max-width: 400px) {
    .row {
        .avatarIcon{
img{
    max-width: 60% !important;
}
        }

    }
  }







#formSec {
    width: 100%;
    background-image: url(/img/help-bg.jpg);
    background-attachment: fixed;
    background-size: cover;

    .container {
        .row {
            .formrow {
                text-align: center;
                padding: 30px;

                h1 {
                    font-size: 30px;
                    font-weight: 200;
                    color: white;
                }

                h5 {
                    color: white;
                    font-weight: 400;
                }
            }

            .MyForm {
                align-items: center;
                justify-content: center;
                background-color: transparent;
                padding: 10px;
                border-radius: 8px;
                border: 3px solid rgb(255, 136, 0);
                padding-top: 20px;
                width: 40%;
                margin: auto;
                transition: transform 0.3s ease, scale 0.3s ease, box-shadow 0.3s ease;
                backdrop-filter: blur(10px);
                #contactForm {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                }

                input {
                    padding: 5px;
                    outline: none;
                    height: 35px;
                    width: auto;
                    border-radius: 5px ;
                   border: 2px solid green;
                    background-color: transparent;
                    
  
                    }
                    input[required], textarea[required] {
                       
                      
                        border-color: rgb(5, 163, 29);
                    }
    
                    input::placeholder, textarea::placeholder {
                       
                        color: white; 
                    }
                    input[required]::placeholder {
                        color: white;
                    }
    
                    input[required] {
                        border-color: #3DB554;
                    }
                }

                textarea {
                    padding: 8px;
                    margin-bottom: 16px;
                    outline: none;
                    border-radius: 5px;
                    border: 2px solid green;
                    background-color: transparent;
                }

                .formbtn {
                    padding-top: 20px;
                    padding-bottom: 20px;

                    text-align: center;

                    button {

                        padding: 15px 10px 15px 10px;
                        border: none;
                        border-radius: 30px;
                        background-color: #3DB554;
                        box-shadow: 0 0 25px #3DB554;

                        color: white;
                        font-weight: 500;

                    }

                    button:hover {
                        box-shadow: 0 0 5px #3DB554, 0 0 50px #3DB554;
                        transition: 0.2s;
                    }
                }

            }

            .MyForm:hover {
                transform: translateY(-5px) scale(1.05);
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            }

            .MyForm:active {
                transform: translateY(0) scale(1);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            p {
                padding-top: 30px;
                text-align: center;
                color: rgb(255, 255, 255);
                padding-bottom: 30px;
            }

        }
    }



    @media only screen and (max-width: 600px) {
        .row {
            .formbtn{
   button{
        width: 60% !important;
        font-size: 7px;
        padding: 5px 5px 5px 5px !important;
    }
            }
    
        }
      }


      @media only screen and (max-width: 660px) {
        .row {
            .MyForm{
   input{
        width: 90% !important;
        font-size: 10px;
    }
    textarea{
        width: 90% !important;
        font-size: 10px;
    }
            }
    
        }
      }




#appsMoreHelp {
    width: 100%;

    .container {
        .row {
            .more {
                h5 {
                    color: #3DB554;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                p {
                    color: grey;
                    display: flex;
                    flex-direction: column;

                }

                a {
                    text-decoration: none;
                    /* Alt çizgiyi kaldır */
                    color: inherit;
                    /* Bağlantının rengini miras al */
                }

                .more a:hover {
                    text-decoration: underline;
                    /* Hover durumunda alt çizgiyi ekler */
                }

            }

            .helps {
                h5 {
                    color: #3DB554;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                p {
                    color: grey;
                    display: flex;
                    flex-direction: column;

                }

                a {
                    text-decoration: none;
                    /* Alt çizgiyi kaldır */
                    color: inherit;
                    /* Bağlantının rengini miras al */
                }

                .more a:hover {
                    text-decoration: underline;
                    /* Hover durumunda alt çizgiyi ekler */
                }
            }

            .icon {
                padding-top: 30px;
                display: flex;
                flex-direction: column;
                align-items: center;
               
                gap: 20px;

                i {
                    padding-bottom: 20px;

                }

                a {
                    text-decoration: none;
                    
                    color: inherit;
                   
                }

            }
        }
    }
}









footer{
    width: 100%;
    padding-top: 30px;
    background-color: #F6F7F8;
 .container{
    .row{
        .footerRow ul{
            list-style: none;
         
            padding: 0;
          
            margin: 0;
          
            display: flex;
           
            gap: 25px;
        }
    }
 }
}



@media only screen and (max-width: 660px) {
    .row {
        .footerRow{
ul{
    li{
       
        font-size: 10px;
    } 
}
 }

    }
  }
  @media only screen and (max-width: 660px) {
    .row {
        .footerAkurlee{

    p{
       
        font-size: 11px;
    } 
    span{
        font-size: 11px;
    }
}
 }

    }
  
 
  
    
   
  
  
   