*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;

    .collapseDiv {
        ul {
            margin: auto;
            justify-content: space-between;
            gap: 10px;
            font-size: 16px;
            font-weight: 600;

        }


    a:hover{
        color: #3DB554;
    }

   


}
    }



    #ourteam{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        background-color: #F6F7F8;
        padding-top: 30px;
        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            .row{
                .ourteamtext{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;
                    h3{
                        font-weight: 700;
                        color: #3DB554;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                
                    }
                    span{
                        color: grey;
                    }
                }
                .team{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    gap: 10px;
                    margin-bottom: 30px;
                    padding-top: 30px;
                    img{
                     
                        padding: 10px 10px 20px 10px;
                    max-width: 100%;
                        border: 2px solid #3DB554;
                        border-radius: 5px;
                    }
                    p{
                        color: gray;
                        padding-top: 15px;
                        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    }
                }
                .icons{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    margin-top: 15px;
                }
            }
        }
    }
    .team img {
        transition: transform 0.3s ease-in-out;
      }
    
      .team:hover img {
        transform: scale(1.1); /* Adjust the scale factor as needed */
      }



      #formSec {
        width: 100%;
        background-image: url(/img/help-bg.jpg);
        background-attachment: fixed;
        background-size: cover;
    
        .container {
            .row {
                .formrow {
                    text-align: center;
                    padding: 30px;
    
                    h1 {
                        font-size: 30px;
                        font-weight: 200;
                        color: white;
                    }
    
                    h5 {
                        color: white;
                        font-weight: 400;
                    }
                }
    
                .MyForm {
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    padding: 10px;
                    border-radius: 8px;
                    border: 3px solid rgb(255, 136, 0);
                    padding-top: 20px;
                    width: 40%;
                    margin: auto;
                    transition: transform 0.3s ease, scale 0.3s ease, box-shadow 0.3s ease;
                    backdrop-filter: blur(10px);
                    #contactForm {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
    
                    }
    
                    input {
                        padding: 5px;
                        outline: none;
                        height: 35px;
                        width: auto;
                        border-radius: 5px ;
                       border: 2px solid green;
                        background-color: transparent;
                        
      
                        }
                        input[required], textarea[required] {
                           
                          
                            border-color: rgb(5, 163, 29);
                        }
        
                        input::placeholder, textarea::placeholder {
                           
                            color: white; 
                        }
                        input[required]::placeholder {
                            color: white;
                        }
        
                        input[required] {
                            border-color: #3DB554;
                        }
                    }
    
                    textarea {
                        padding: 8px;
                        margin-bottom: 16px;
                        outline: none;
                        border-radius: 5px;
                        border: 2px solid green;
                        background-color: transparent;
                    }
    
                    .formbtn {
                        padding-top: 20px;
                        padding-bottom: 20px;
    
                        text-align: center;
    
                        button {
    
                            padding: 15px 10px 15px 10px;
                            border: none;
                            border-radius: 30px;
                            background-color: #3DB554;
                            box-shadow: 0 0 25px #3DB554;
    
                            color: white;
                            font-weight: 500;
    
                        }
    
                        button:hover {
                            box-shadow: 0 0 5px #3DB554, 0 0 50px #3DB554;
                            transition: 0.2s;
                        }
                    }
    
                }
    
                .MyForm:hover {
                    transform: translateY(-5px) scale(1.05);
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
                }
    
                .MyForm:active {
                    transform: translateY(0) scale(1);
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }
    
                p {
                    padding-top: 30px;
                    text-align: center;
                    color: rgb(255, 255, 255);
                    padding-bottom: 30px;
                }
    
            }
        }
    
    
    
        @media only screen and (max-width: 600px) {
            .row {
                .formbtn{
       button{
            width: 60% !important;
            font-size: 7px;
            padding: 5px 5px 5px 5px !important;
        }
                }
        
            }
          }
    
    
          @media only screen and (max-width: 660px) {
            .row {
                .MyForm{
       input{
            width: 90% !important;
            font-size: 10px;
        }
        textarea{
            width: 90% !important;
            font-size: 10px;
        }
                }
        
            }
          }
    
    
    
    
    #appsMoreHelp {
        width: 100%;
    
        .container {
            .row {
                .more {
                    h5 {
                        color: #3DB554;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
    
                    p {
                        color: grey;
                        display: flex;
                        flex-direction: column;
    
                    }
    
                    a {
                        text-decoration: none;
                        /* Alt çizgiyi kaldır */
                        color: inherit;
                        /* Bağlantının rengini miras al */
                    }
    
                    .more a:hover {
                        text-decoration: underline;
                        /* Hover durumunda alt çizgiyi ekler */
                    }
    
                }
    
                .helps {
                    h5 {
                        color: #3DB554;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
    
                    p {
                        color: grey;
                        display: flex;
                        flex-direction: column;
    
                    }
    
                    a {
                        text-decoration: none;
                        /* Alt çizgiyi kaldır */
                        color: inherit;
                        /* Bağlantının rengini miras al */
                    }
    
                    .more a:hover {
                        text-decoration: underline;
                        /* Hover durumunda alt çizgiyi ekler */
                    }
                }
    
                .icon {
                    padding-top: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    /* İkonları yatayda hizala */
                    gap: 20px;
    
                    i {
                        padding-bottom: 20px;
    
                    }
    
                    a {
                        text-decoration: none;
                        /* Alt çizgiyi kaldır */
                        color: inherit;
                        /* Bağlantının rengini miras al */
                    }
    
                }
            }
        }
    }
    
    
    
    
    
    
    
    
    
    footer{
        width: 100%;
        padding-top: 30px;
        background-color: #F6F7F8;
     .container{
        .row{
            .footerRow ul{
                list-style: none;
                /* Liste işaretini kaldır */
                padding: 0;
                /* Liste içi boşluğu sıfırla */
                margin: 0;
                /* Liste kenar boşluğunu sıfırla */
                display: flex;
                /* Liste öğelerini yan yana sırala */
                gap: 25px;
            }
        }
     }
    }
    
    
    
    @media only screen and (max-width: 660px) {
        .row {
            .footerRow{
    ul{
        li{
           
            font-size: 10px;
        } 
    }
     }
    
        }
      }
      @media only screen and (max-width: 660px) {
        .row {
            .footerAkurlee{
    
        p{
           
            font-size: 11px;
        } 
        span{
            font-size: 11px;
        }
    }
     }
    
        }
      
     
      
        
       
      
      
       